/* Allgemein */

body {
    font-family: "Roboto" "sans-serif";
    
}

b{
    color: black
}
.limegreen{
    color: limegreen;
}

.navbar, 
.carousel {
    border-bottom: 2px solid #8888;
}
/* Naviagation */

.nav-link{
    cursor: pointer;

}
.nav-link :active, 
.nav-link:hover{
    color: limegreen !important;
}

.icon-link{
    color: limegreen
}
.icon-link:active,
.icon-link:hover svg {
    color:white;
}

/*Megamenü*/





/*  Slider  */

.slider-image{
width: 100vw;
height: 70vh;
background-position: center;
background-size:cover;
z-index: 1;
}



/*  Projekte  */

.card-body{
    background-color: #444444;
    border-color: #8888;
    color: white;

}




.card-image{
    
    height: 500px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 901px){
    
    .card-group {
        display: flex;
        flex-flow: column wrap;
    }
}


/* WhoAmI  */
.lukas-rund-image{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    
}

/* Footer  */
.footer {
    font-family: Sans-serif;
    font-size: 1rem;
    text-align: center;
    border top: 1px solid  #888;
    
    position: center;
    bottom: 0;



}



